{% extends "layout.html" %}

{% block title %}
    Bible Results
{% endblock %}

<body>
    <nav class="bg-light border navbar navbar-expand-md navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><span class="red">Holy Book Comparison</span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ms-auto mt-2">
                    <li class="nav-item"><a class="nav-link" href="/search">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <br><br>
    <table action="/bible" method="get" class="table table-hover" >
    <tbody>
        <h1>Bible</h1>
        <tr>
            <th>Number</th>
            <th>Book</th>
            <th>Chapter</th>
            <th>Verse</th>
            <th>Text</th>
        </tr>
        {% for i in lst %}
        <tr>
            <td>
                <p>{{i.number}}</p>
            </td>
            <td>
                <p>{{i.book}}</p>
            </td>
            <td>
                <p>{{i.chapter}}</p>
            </td>
            <td>
                <p>{{i.verse}}</p>
            </td>
            <td>
                <p>{{i.text}}</p>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

</body>