<!DOCTYPE html>

<html lang="en">

<title>
    Holy Book Comparison Bible Results
</title>
<p>{% extends "layout.html" %} {% block main %} {% with msg = get_flashed_messages() %} {% if msg %} {% for message in msg %}</p>
<div>
<div><strong>{{ message }}</strong></div>
</div>
<p>{% endfor %} {% endif %} {% endwith %}</p>
<div><select>
<option>Select...</option>
<option>All</option>
{% for i in result %}
<option>{{i}}</option>
{% endfor %}</select></div>
<div>
<div>
<div><form><input type="text" /><button>Results Per Page</button></form><button>Highlight</button></div>
<div><form><input type="text" /><button>Results Per Page</button></form></div>
<h1>Bible</h1>
{% for i in lst %}{% endfor %}
<table>
<thead>
<tr>
<th>Number</th>
<th>Book</th>
<th>Chapter</th>
<th>Verse</th>
<th>Text</th>
</tr>
</thead>
<tbody>
<tr>
<td>
<p>{{i.number}}</p>
</td>
<td>
<p><strong>{{i.book_name}}</strong></p>
</td>
<td>
<p>{{i.chapter}}</p>
</td>
<td>
<p>{{i.verse}}</p>
</td>
<td>
<p>{{i.text}}</p>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<p>{% endblock %}</p>