{% extends "layout.html" %}

{% block title %}
    Bible Results
{% endblock %}

{% block main %}
<body id="bible">

<select name="books" id="books" style="display:{{ display_select }}" onchange="location = this.value;">
    <option value="">Select...</option>
    <option value= "All">All</option>
    {% for i in result %}
        <option value= {{i}}>{{i}}</option>
    {% endfor %}
</select>
<br><br><br>

<table action="/Bible" method="get" class="table table-hover">

    <button onclick="inc(id)" style="background: crimson; display:{{ display_highlight }}">Highlight</button>
    <tbody>
        <h1>Bible</h1>
        <tr>
            <th>Number</th>
            <th>Book</th>
            <th>Chapter</th>
            <th>Verse</th>
            <th>Text</th>
        </tr>
        {% for i in lst %}
        <tr>
            <td>
                <p>{{i.number}}</p>
            </td>
            <td>
                <p>{{i.book_name}}</p>
            </td>
            <td>
                <p>{{i.chapter}}</p>
            </td>
            <td>
                <p>{{i.verse}}</p>
            </td>
            <td>
                <p class="mydiv">{{i.text}}</p>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>

<script>
    var search_upper = {{search_upper|tojson}};
    var search_lower = {{search_lower|tojson}};
    // Works great for passing Flask value to Javascript

    function highlight() {
        var u = document.getElementsByClassName("mydiv")
        for(var i = 0; i < u.length; i++) {
            var text = u[i];
            text.innerHTML.replace (new RegExp (search_upper, 'g'), "<mark>{{search_upper}}</mark>");
            text.innerHTML.replace (new RegExp (search_lower, 'g'), "<mark>{{search_lower}}</mark>");
    }

    function dehighlight() {
        document.getElementsByClassName('mydiv').innerHTML = document.getElementsByClassName('mydiv').innerHTML.replace (new RegExp (search_upper, 'g'), "<p>{{search_upper}}</p>");
        document.getElementsByClassName('mydiv').innerHTML = document.getElementsByClassName('mydiv').innerHTML.replace (new RegExp (search_lower, 'g'), "<p>{{search_lower}}</p>");

        const matches = document.querySelectorAll("mark");
        matches.forEach(mark => {
        mark.remove();
        });
        // Removes all <mark> tags
    }

    var count = 0;

    function inc(){
    count ++;
    if (count % 2 == 0) {
        dehighlight();
    } else {
        highlight();
    }
};
</script>
{% endblock %}