{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<h1>{{u}}</h1>
<br><br>
<table action="/" method="get" class="table table-hover" >
    <tr>
        <th>Id</th>
        <th>Book</th>
        <th>Chapter</th>
        <th>Verse</th>
        <th>Text</th>
    </tr>
    {% for i in lst %}
        <tr>
            <td>
                <p>{{i.stock}}</p>
            </td>
            <td>
                <p>{{i.shares}}</p>
            </td>
            <td>
                <p>{{i.share_price}}</p>
            </td>
            <td>
                <p>{{i.sum}}</p>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
{% endblock %}