{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert"style="position:fixed; left: 50%; transform: translate(-50%, 0);">
            {{ message }}
        </div>
    {% endif %}
{% endwith %}

<form action="/search" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="search" name="search" type="text">
    </div>
    <button class="btn btn-primary" type="submit">Search</button>
</form>
{% endblock %}