{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}

{% with msg = get_flashed_messages() %}
    {% if msg %}
        {% for message in msg %}
            <div class="alert alert-warning fade show" role="alert">
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<form action="/search" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="search" name="search" type="text">
    </div>
    <button class="btn btn-primary" type="submit">Search</button>
</form>

<script>
    function highlight(text) {
    var inputText = document.getElementById("search");
    var innerHTML = inputText.innerHTML;
    var index = innerHTML.indexOf(text);
    if (index >= 0) {
        inputText.innerHTML=innerHTML.split(text).join('<span class="highlight">'+text+'</span>');
    }
}
</script>

<button onclick="highlight('fox')">Highlight</button>
{% endblock %}