{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <form action="/verse" method="post">

        <div class="mb-3">
        <img src="/static/cross.gif" alt="cross" width="150px" height="150px" style="display:{{ display_img }}">

        <h5 style="display: inline-block; padding: 10px" >Book Name</h5>
        <input autocomplete="off" autofocus class="form-control mx-auto" name="bible_name" type="text" style="display: inline-block; width: 135px">

        <h5 style="display: inline-block; padding: 10px" >Chapter</h5>
        <input autocomplete="off" autofocus class="form-control mx-auto" name="bible_chapter" type="text" style="display: inline-block; width: 43px">

        <h5 style="display: inline-block; padding: 10px" >Verse</h5>
        <input autocomplete="off" autofocus class="form-control mx-auto" name="bible_verse" type="text" style="display: inline-block; width: 43px">
        <div>
            <button class="btn btn-primary" type="submit" style="top: 220px; position: absolute">Search</button>
        </div>
    </div>

    <div class="mb-3">
        <img src="/static/allah.png" alt="Muslim man and crescent" width="120px" height="150px" style="display:{{ display_img }}">
        <h5 style="display: inline-block; padding: 10px" >Sura</h5>
        <input autocomplete="off" autofocus class="form-control mx-auto" name="quran_sura" type="text" style="display: inline-block; width: 52px">

        <h5 style="display: inline-block; padding: 10px" >Verse</h5>
        <input autocomplete="off" autofocus class="form-control mx-auto" name="quran_verse" type="text" style="display: inline-block; width: 52px">
        <div>
            <button class="btn btn-primary" type="submit" style="top: 386px; position: absolute">Search</button>
        </div>
    </div>

    <div class="mb-3">
        <img src="/static/om.png" alt="om symbol" width="150px" height="170px" style="display:{{ display_img }}">
        <h5 style="display: inline-block; padding: 10px" >Chapter</h5>
        <input autocomplete="off" autofocus class="form-control mx-auto" name="hindu_chapter" type="text" style="display: inline-block; width: 43px">

        <h5 style="display: inline-block; padding: 10px" >Verse</h5>
        <input autocomplete="off" autofocus class="form-control mx-auto" name="hindu_verse" type="text" style="display: inline-block; width: 43px">
        <div>
            <button class="btn btn-primary" type="submit" style="top: 562px; position: absolute">Search</button>
        </div>
    </div>

</form>
{% endblock %}