{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <td id="contact" class="excel_box">Contacts</td>
      <td></td>
    </tr>

    <tr>
        <td class="excel_box">Phone Number:</td>
        <td class="excel_box">(123) 456-7890</td>
    </tr>
    <tr>
        <td class="excel_box">Email Address:</td>
        <td class="excel_box">thisisnotafakeaddress@gmail.com</td>
    </tr>
    <tr>
        <td class="excel_box">Fax Number:</td>
        <td class="excel_box">44 (0) 20 7123 4567</td>
    </tr>
    <tr>
        <td class="excel_box">Address:</td>
        <td class="excel_box">"274 9th St. America Ave, America City, Texas 98335</td>
    </tr>
  </table>

{% endblock %}