{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Mark Hutchison {% endblock %}</h1>
    <h1>Welcome!</h1>
    <p id="hello">Hello, and welcome to Mark's web page!<br>I hope you enjoy your stay here.
    <br>Be sure to check out the hobbies section so that they can become your hobbies.<br>Buy something at the gift
    shop because I need the money more than you do.<br>If you need to contact someone, then it might be a good idea
    to check out the contact section.</p>
{% endblock %}