* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

nav {
    height: 50px;
    font-family: tektur;
    color: darkolivegreen;
    text-align: center;
}

.navbar {
    position: fixed;
    width: 100%;
}

.navbar-brand, .nav-link, #copyright {
    color: darkolivegreen;
    font-family: tektur;
}

.navbar-brand {
    text-shadow:
    1px 1px 1px grey,
    1px 1px 1px grey;
}

body {
    background-image: url("dynamic_blue.jpg");
    background-size: cover;
    margin-bottom: 70px;
    background-attachment: fixed;
}

.wrapper {
    display: table;
    width: 100%;
}

.sticky-bottom {
    font-size: 14px;
}

#copyright {
    position: relative;
    right: 100px;
}

h1 {
    text-align: center;
    color: white;
    padding-top: 50px;
}

h5 {
    color: white;
}

h1:hover, #hello:hover, #these:hover {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.sectionh, .sectiong, .container {
    color: white;
    text-align: center;
}

.img-fluid {
    height: 150px;
    margin: 6px;
}

.flex-column {
    max-width: 200px;
  }

.speech-bubble-left, .speech-bubble-right {
    background: #ddd;
    color: #333;
    font-size: 14px;
    line-height: 4em;
    position: absolute;
    text-align: center;
    min-width: 7em;
    opacity: 0.0;
}

.speech-bubble-left:after, .speech-bubble-right:after {
	border: 1em solid transparent;
	border-top-color: #ddd;
	content: '';
	position: absolute;
    top: 35%;
    left: 100%;
    rotate: -90deg;
}

.speech-bubble-left:after {
	left: -24%;
    rotate: 90deg;
}

#runpic:hover~#sb1,#spanpic:hover~#sb2, #programpic:hover~#sb3, #switchpic:hover~#sb4 {
    opacity: 1;
}

#sb1 {
    left: -98px;
    top: 6px;
}

#sb2 {
    left: 200px;
    top: 6px;
}

#sb3 {
    left: -98px;
    top: 168px;
}

#sb4 {
    left: 200px;
    top: 168px;
    width: 110px;
}

table {
    top: 170px;
    left: 500px;
    font-family: 'space mono';
    color: white;
    border: 2px solid red;
    border-radius: 4px;
    width: 30%;
    position: absolute;
}

#contact {
    font-size: 30px;
}

.excel_box {
    border: 2px solid red;
    border-radius: 4px;
}

#supplies {
    animation: blink 1s infinite;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#giftshopset2, #giftdesc2, {
    left: 200px;
}

.giftspace {
    height: 162px;
    color: orange;
}

.sectionq1, .sectionq2 {
    color: white;
    position: relative;
}

#form1, #form4 {
    padding-left: 20px;
}

#form2, #form3, #form5, #form6  {
    padding-left: 20px;
    padding-top: 50px;
}

#total, #ttl {
    display: inline-block;
}

#fourofour {
    font-size: 80px;
    text-align: center;
    color: white;
}

@keyframes blink {
    0% {opacity: 1;}
    25% {opacity: 0.6;}
    50% {opacity: 0.25;}
    75% {opacity: 0.6;}
    100% {opacity: 1;}
}

@media only screen and (max-width: 700px){
    html {
    height: 500px;
}

    body {
    max-height: 100vh;
}

    div {
        position: relative;
    }

    .navbar-nav {
        font-size: 11px;
        bottom: 40px;
        left: 160px;
    }

    .nav-link2 {
        font-size: 7px;
        right: 170px;
        top: 40px;
    }

    #copyright {
        text-align: right;
        right: 2px;
        font-size: 4px;
    }

    table {
        top: 180px;
        left: 0px;
        margin: 0 auto;
        position: absolute;
        font-size: 8.7px;
    }

    h1 {
        padding-top: 70px;
        padding-bottom: 10px;
        margin: 0 auto;
    }

    .img-fluid {
        width: 500px;
        height: 200px;
        pointer-events: none;
    }

    .container-fluid {
        text-align: center;
        margin: 0 auto;
    }

    #supplies {
        padding-bottom: 5px;
    }

    #hauntedpic,#herculespic {
        margin-top: 200px;
    }

    #zebrapic {
        margin-top: -700px;
    }

    #wrenchpic, #rubberchickenpic {
        margin-top: 200px;
    }

    #fork, #haunted, #hercules, #zebra, #wrench, #rubberchicken, #form1, #form2, #form3, #form4, #form5, #form6{
        width: 300px;
    }

    #fork {
        bottom: 820px;
    }

    #form1 {
        bottom: 1228px;
    }

    #haunted {
        bottom: 570px;
    }

    #form2 {
        bottom: 978px;
    }

    #hercules {
        bottom: 320px;
    }

    #form3 {
        bottom: 705px;
    }

    #zebra {
        bottom: 820px;
    }

    #form4 {
        bottom: 1228px;
    }

    #wrench {
        bottom: 570px;
    }

    #form5 {
        bottom: 978px;
    }

    #rubberchicken {
        bottom: 320px;
    }

    #form6 {
        bottom: 733px;
    }

    .bottom {
        top: -700px;
    }
}

@media only screen and (max-width: 800px) and (min-width: 701px) {
    div {
        display: flex;
        flex-wrap: wrap;
    }

    .navbar-nav {
        font-size: 15px;
        position: relative;
        bottom: 40px;
        left: 190px;
    }

    .nav-link2 {
        font-size: 14px;
        position: relative;
        right: 200px;
        top: 40px;
    }

    #copyright {
        position: relative;
        right: 22px;
        text-align: right;
    }

    table {
        top: 180px;
        left: 180px;
    }

    h1 {
        padding-top: 70px;
        padding-bottom: 10px;
        position: relative;
        margin: 0 auto;
    }

    #hobbies {
        position: relative;
        top: 120px;
        left: 500px;
    }

    #these {
        position: relative;
        top: 240px;
        left: 300px;
    }

    .img-fluid {
        pointer-events: none;
    }

    #supplies {
        position: relative;
        padding-bottom: 10px;
        margin: 0 auto;
        padding-left: 285px;
    }

    .sectionq1 {
        padding-right: 50px;
    }

    .sectionq1, .sectionq2 {
        display: block;
    }

    .giftspace {
        padding-left: 20px;
    }

    #total {
        padding-right: 10px;
    }
}