* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

.navbar-brand, .nav-link {
    color: darkolivegreen;
    font-family: tektur;
}

.navbar-brand {
    text-shadow:
    1px 1px 1px grey,
    1px 1px 1px grey;
}

.sticky-top {
    background-color: honeydew;
}

body {
    background-image: url("dynamic_blue.jpg");
    background-size: cover;
}

.sticky-bottom {
    position: fixed;
    bottom: 0;
    background-color: honeydew;
    width: 100%;
    font-family: tektur;
    color: darkolivegreen;
    text-align: center;
}

#copyright {
    font-family: tektur;
    color: darkolivegreen;
    text-align: right;
    bottom: 0;
}

h1 {
    text-align: center;
    color: white;
    padding-top: 50px;
}

h1:hover, .section:hover {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

.section {
    color: white;
    text-align: center;
}

.img-fluid {
    height: 150px;
    margin: 6px;
}

.flex-column {
    max-width: 250px;
  }

.speech-bubble {
    background: #ddd;
    color: #333;
    display: inline-block;
    font-size: 14px;
    line-height: 4em;
    margin-bottom: 1em;
    padding: 0 1em;
    position: relative;
    text-align: center;
    vertical-align: top;
    min-width: 7em;
}

.speech-bubble:after {
	border: 1em solid transparent;
	border-top-color: #ddd;
	content: '';
	margin-left: -1em;
	position: absolute;
		top: 100%;
		left: 50%;
	width: 0;
	height: 0;
}