
.navbar-brand, .nav-link {
    color: darkolivegreen;
    font-family: tektur;
}

.navbar-brand {
    text-shadow:
    1px 1px 1px grey,
    1px 1px 1px grey;
}

.sticky-top {
    background-color: honeydew;
}

body {
    background-image: url("dynamic_blue.jpg");
    background-size: cover;
    animation: fadeIn 5s;
}

.sticky-bottom {
    position: fixed;
    bottom: 0;
    background-color: honeydew;
    width: 100%;
    font-family: tektur;
    color: darkolivegreen;
    text-align: center;
}

#copyright {
    font-family: tektur;
    color: darkolivegreen;
    text-align: right;
    bottom: 0;
}

h1 {
    text-align: center;
    color: white;
    padding-top: 50px;
}

.section {
    color: white;

}

h1:hover {
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

