.navbar-brand, .nav-link {
    color: darkolivegreen;
    font-family: tektur;
}

.navbar-brand {
    text-shadow:
    1px 1px 1px grey,
    1px 1px 1px grey;
}

body {
    background-image: url("https://wallpapers.com/wallpapers/dynamic-blue-purple-light-curves-850e4ovvlkkmva1i.html?embed=true");
    background-size: cover;
    animation: fadeIn 5s;
}