

.navbar-brand, .nav-link {
    color: darkolivegreen;
    font-family: tektur;
}

.navbar-brand {
    text-shadow:
    1px 1px 1px grey,
    1px 1px 1px grey;
}

body {
    background-image: url("dynamic_blue.jpg");
    background-size: cover;
    animation: fadeIn 5s;
    padding-bottom: 1000px;
}