* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

div {
    flex-basis: 100%;
}

@media (min-width: 600px) {
    * {
      flex-wrap: nowrap;
    }

    div {
      flex-basis: 40%;
    }
  }

.navbar-brand, .nav-link {
    color: darkolivegreen;
    font-family: tektur;
}

.navbar-brand {
    text-shadow:
    1px 1px 1px grey,
    1px 1px 1px grey;
}

.sticky-top {
    background-color: honeydew;
}

body {
    background-image: url("dynamic_blue.jpg");
    background-size: cover;
    margin-bottom: 70px;
}

.sticky-bottom {
    position: fixed;
    bottom: 0;
    background-color: honeydew;
    width: 100%;
    font-family: tektur;
    color: darkolivegreen;
    text-align: center;
}

#copyright {
    font-family: tektur;
    color: darkolivegreen;
    text-align: right;
    bottom: 0;
}

h1 {
    text-align: center;
    color: white;
    padding-top: 50px;
}

h5 {
    color: white;
}

h1:hover, .sectionh:hover {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

.sectionh, .sectiong {
    color: white;
    text-align: center;
}

.img-fluid {
    height: 150px;
    margin: 6px;
}

.flex-column {
    max-width: 200px;
    position: relative;
  }

.speech-bubble-left, .speech-bubble-right {
    background: #ddd;
    color: #333;
    display: inline-block;
    font-size: 14px;
    line-height: 4em;
    margin-bottom: 1em;
    padding: 0 1em;
    position: absolute;
    text-align: center;
    vertical-align: top;
    min-width: 7em;
    opacity: 0.0;
}

.speech-bubble-left:after, .speech-bubble-right:after {
	border: 1em solid transparent;
	border-top-color: #ddd;
	content: '';
	position: absolute;
    top: 35%;
    left: 100%;
    rotate: -90deg;
}

.speech-bubble-left:after {
    top: 35%;
	left: -24%;
    rotate: 90deg;
}

#runpic:hover~#sb1,#spanpic:hover~#sb2, #programpic:hover~#sb3, #switchpic:hover~#sb4 {
    opacity: 1;
}

#sb1 {
    left: -98px;
    top: 6px;
}

#sb2 {
    left: 200px;
    top: 6px;
}

#sb3 {
    left: -98px;
    top: 168px;
}

#sb4 {
    left: 200px;
    top: 168px;
    width: 110px;
}

table {
    max-width: 960px;
    margin: auto;
    position: absolute;
    top: 170px;
    font-family: 'space mono';
    color: white;
}

#contact {
    font-size: 30px;
    color: white;
}

table {
    border: 2px solid red;
    border-radius: 4px;
    width: 50%;
    position: absolute;
    left: 400px;
}

.excel_box {
    border: 2px solid red;
    border-radius: 4px;
    width: 50%;
}

#supplies {
    animation: blink 1s infinite;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#giftdesc1, #giftdesc2 {
    color: orange;
}

#giftshopset2, #giftdesc2, .sectionq2{
    left: 200px;
}

.giftspace {
    padding-bottom: 60px;
    height: 162px;
}

.sectionq1, .sectionq2 {
    color: white;
    position: relative;
}

#form1 {
    padding-left: 20px;
}

#form2, #form3 {
    padding-left: 20px;
    padding-top: 50px;
}

#total, #ttl {
    display: inline-block;
}

#fourofour {
    font-size: 80px;
    text-align: center;
    color: white;
}

@keyframes blink {
    0% {opacity: 1;}
    25% {opacity: 0.6;}
    50% {opacity: 0.25;}
    75% {opacity: 0.6;}
    100% {opacity: 1;}
}