* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

.navbar-brand, .nav-link {
    color: darkolivegreen;
    font-family: tektur;
}

.navbar-brand {
    text-shadow:
    1px 1px 1px grey,
    1px 1px 1px grey;
}

.sticky-top {
    background-color: honeydew;
}

body {
    background-image: url("dynamic_blue.jpg");
    background-size: cover;
}

.sticky-bottom {
    position: fixed;
    bottom: 0;
    background-color: honeydew;
    width: 100%;
    font-family: tektur;
    color: darkolivegreen;
    text-align: center;
}

#copyright {
    font-family: tektur;
    color: darkolivegreen;
    text-align: right;
    bottom: 0;
}

h1 {
    text-align: center;
    color: white;
    padding-top: 50px;
}

h1:hover, .section:hover {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

.section {
    color: white;
    text-align: center;
}

.img-fluid {
    height: 150px;
    margin: 6px;
}

.flex-column {
    max-width: 250px;
  }

.speech-bubble-left, .speech-bubble-right {
    background: #ddd;
    color: #333;
    display: inline-block;
    font-size: 14px;
    line-height: 4em;
    margin-bottom: 1em;
    padding: 0 1em;
    position: absolute;
    text-align: center;
    vertical-align: top;
    min-width: 7em;
    visibility: hidden;
}

.speech-bubble-left:after, .speech-bubble-right:after {
	border: 1em solid transparent;
	border-top-color: #ddd;
	content: '';
	position: absolute;
		top: 35%;
		left: 100%;
        rotate: -90deg;
}

.speech-bubble-left:after {
    top: 35%;
	left: -24%;
    rotate: 90deg;
}

d-flex flex-column:hover + .speech-bubble-left + .speech-bubble-right {
    visibility: visible;
}

#sb1 {
    left: 420px;
    top: 152px;
}

#sb2 {
    left: 1024px;
    top: 152px;
}

#sb3 {
    left: 420px;
    top: 314px;
}

#sb4 {
    left: 1018px;
    top: 314px;
}