<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>
    <body>
        <div class="header">
            <h1>Birthdays</h1>
        </div>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes text-align="center">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
        {% block body %}{% endblock %}

        <div class="container">
            <div class="section">

                <h2>Add a Birthday</h2>
                <form action="/" method="post">
                    <input autocomplete="off" autofocus id="name" name="name" placeholder="Name" type="text" style="width:100px;">
                    <input autocomplete="off" id="month" name="month" placeholder="Month" type="number" style="width:48px;">
                    <input autocomplete="off" id="day" name="day" placeholder="Day" type="number" style="width:35px;">
                    <button type="submit">Register</button>
                </form>
                <!-- TODO: Create a form for users to submit a name, a month, and a day -->
            </div>

            <div class="section">

                <h2>All Birthdays</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Birthday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- TODO: Loop through the database entries to display them in this table -->
                        {% for i in result %}
                            <tr>
                                <td>{{i.name}}</td>
                                <td>{{i.month}}/{{i.day}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
