<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>
    <body>
        <div class="header">
            <h1>Birthdays</h1>
        </div>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes style="color:red; text-align:center; font-size:20px; list-style-type:none">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
        {% block body %}{% endblock %}

        <div class="container">
            <div class="section">

                <h2>Add a Birthday</h2>
                <form action="/" method="post">
                    <input autocomplete="off" autofocus id="name" name="name" placeholder="Name" type="text" style="width:100px;">
                    <input autocomplete="off" id="month" name="month" placeholder="Month" type="number" style="width:48px;">
                    <input autocomplete="off" id="day" name="day" placeholder="Day" type="number" style="width:35px;">
                    <button type="submit">Register</button>
                </form>
                <br>
                <form action="/delete_all"><input type="submit" value="Delete All" style="background-color:red"/></form>
                <!-- TODO: Create a form for users to submit a name, a month, and a day -->
            </div>

            <div class="section">

                <h2>All Birthdays</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Birthday</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- TODO: Loop through the database entries to display them in this table -->
                        {% for i in result %}
                            <tr>
                                <td>
                                    <form action="/edit_name" method="post"><span style="font-weight: bold; font-size: 20px;">{{i.name}}</span>
                                        <input name="id" type="hidden" value={{i.id}}>
                                        <input autocomplete="off" autofocus id="name" name="name" placeholder="Name" type="text" style="width:100px; position: absolute; left: 350px;">
                                        <input type="submit" value="Edit" style="background-color:gold; position: absolute; left: 470px;">
                                    </form>
                                </td>
                                <td>
                                    <form action="/edit" method="post"><span style="font-weight: bold; font-size: 20px;">{{i.month}}/{{i.day}}</span>
                                        <input name="id" type="hidden" value={{i.id}}>
                                        <input autocomplete="off" autofocus id="name" name="name" placeholder="Month" type="text" style="width:48px; margin-left: 50px">
                                        <input type="submit" value="Edit" style="background-color:gold; margin-left: 10px">
                                        <input autocomplete="off" autofocus id="name" name="name" placeholder="Day" type="text" style="width:35px; margin-left: 50px">
                                        <input type="submit" value="Edit" style="background-color:gold; margin-left: 10px">
                                    </form>
                                </td>
                                <td>
                                    <form action="/delete" method="post">
                                        <input name="id" type="hidden" value={{i.id}}>
                                        <input type="submit" value="Delete" style="background-color:red">
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </body>
</html>
