<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>
    <body>
        <div class="header">
            <h1>Birthdays</h1>
        </div>
        <div class="container">
            <div class="section">

                <h2>Add a Birthday</h2>
                <form action="/" method="post" class="name_box">
                    <input autocomplete="off" autofocus name="name" placeholder="Name" type="text" style="width:100px;"
                </form>
                <form action="/" method="post" class="month_box">
                    <input autocomplete="off" autofocus name="month" placeholder="Month" type="text" style="width:38px;"
                </form>
                <form action="/" method="post" class="day_box">
                    <input autocomplete="off" autofocus name="month" placeholder="Day" type="text" style="width:24px;"
                </form>
                <button type="submit">Register</button>
                <!-- TODO: Create a form for users to submit a name, a month, and a day -->
            </div>

            <div class="section">

                <h2>All Birthdays</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Birthday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- TODO: Loop through the database entries to display them in this table -->
                        {% for i in result %}
                            <tr>
                                <td>{{i.name}}</td>
                                <td>{{i.month}}/{{i.day}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
