{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<table action="/" method="get" class="table table-hover" >
    <tr>
        <th>Username</th>
        <th>Stock</th>
        <th>Shares</th>
        <th>Current Share Price</th>
        <th>Value of shares</th>
    </tr>
    {% for i in lst %}
        <tr>
            <td>
                <p>{{i.username}}</p>
            </td>
            <td>
                <p>{{i.stock}}</p>
            </td>
            <td>
                <p>{{i.shares}}</p>
            </td>
            <td>
                <p>{{i.share_price}}</p>
            </td>
            <td>
                <p>{{i.sum}}</p>
            </td>
            <td>
                <p>{{i.balance}}</p>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<table action="/" method="get" class="table table-hover">
    <tr>
        <th>Value of Assets</th>
        <th>Account Balance</th>
    </tr>
</table>
{% endblock %}