{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
<form action="/sell" method="post">

        <label for="cars" style="float:center; display: inline-block; width=100px">Choose a stock:</label>
        <select name="symbol" id="shares" style="margin-right: 400px; display: inline-block; width=100px">
            {% for i in result %}
                <option value="stocks">{{i}}</option>
            {% endfor %}
        </select>

        <input autocomplete="off" style="position: relative right: 1000 px; autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Shares" type="text">
        <br>
        <button class="btn btn-primary" type="submit">Sell</button>

</form>
{% endblock %}