{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
<form action="/sell" method="post" float="left">
    <label for="cars" float="left">Choose a stock:</label>

    <select name="symbol" id="shares">
        {% for i in result %}
            <option value="stocks">{{i}}</option>
        {% endfor %}
    </select>

    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Shares" type="text">
    </div>
    <button class="btn btn-primary" type="submit">Sell</button>
</form>
{% endblock %}