body {
    background-image: url("/static/praying.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#bible {
    background-image: url("/static/cross.png");
}

#quran {
    background-image: url("/static/islam.jpg");
}

#hindu {
    background-image: url("/static/hindu.jpeg");
}

#books {
    position: relative;
    bottom: 90px;
}

table tr:nth-child(2){
    counter-reset: rowNumber;
  }

table tr {
    counter-increment: rowNumber;
}

table tr td:first-child::before {
    content: counter(rowNumber);
}

p {
    display: inline;
}

mark {
    background: crimson;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }

/* Style the active/current link */
.pagination a.active {
    background-color: dodgerblue;
    color: white;
  }

/* Add a grey background color on mouse-over */
  .pagination a:hover:not(.active) {background-color: #ddd;}

tr.hide {
    display: none;
}