body {
    background-image: url("/static/praying.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#bible {
    background-image: url("/static/cross.png");
}

#quran {
    background-image: url("/static/islam.jpg");
}

#hindu {
    background-image: url("/static/hindu.jpeg");
}

#books {
    position: relative;
    bottom: 90px;
}

table td {
    border: 1px solid #ddd;
}

p {
    display: inline;
}

mark {
    background: crimson;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

div {
    justify-content: center;
}

.pagination {
    overflow: auto;
    display: table;
    width: 100%;
}

.pagination button {
    margin: 2px;
}

.pagination button:hover:not(.active) {
    background-color: #ddd;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.disabled {
    pointer-events: none;
    background-color: DarkGrey;
}

.alert2 {
    position:absolute;
    padding: 20px;
    margin-bottom: 15px;
    width: 100%;
}

/* Counter */
.content tbody {
    counter-reset: rowNumber;
}

.content table tr {
    counter-increment: rowNumber;
}

.content table tr td:nth-child(1)::before {
    content: counter(rowNumber);
}

@media only screen and (max-width: 800px) and (min-width: 701px) {
    .image: {
        width: 30px;
    }
}