body {
    background-image: url("/static/praying.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#bible {
    background-image: url("/static/cross.png");
}

#quran {
    background-image: url("/static/islam.jpg");
}

#hindu {
    background-image: url("/static/hindu.jpeg");
}

#books {
    position: relative;
    bottom: 90px;
}

table tr {
    counter-increment: rowNumber;
    counter-reset: rowNumber 10;
}

.content table tr td:nth-child(1)::before {
    content: counter(rowNumber);
}

.content1 table tr td:first-child::before {
    content: counter(rowNumber);
}

.content2 table tr td:first-child::before {
    content: counter(rowNumber);
}

.content3 table tr td:first-child::before {
    content: counter(rowNumber);
}


table td {
    border: 1px solid #ddd;
}

p {
    display: inline;
}

mark {
    background: crimson;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

div {
    justify-content: center;
}

.pagination1 {
    overflow: auto;
    display: table;
    width: 100%;
}

.pagination1 button {
    margin: 2px;
}

.pagination1 button:hover:not(.active) {
    background-color: #ddd;
}

.pagination2 {
    overflow: auto;
    display: table;
    width: 100%;
}

.pagination2 button {
    margin: 2px;
}

.pagination2 button:hover:not(.active) {
    background-color: #ddd;
}

.pagination3 {
    overflow: auto;
    display: table;
    width: 100%;
}

.pagination3 button {
    margin: 2px;
}

.pagination3 button:hover:not(.active) {
    background-color: #ddd;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.disabled {
    pointer-events: none;
    background-color: DarkGrey;
}

.alert2 {
    position:absolute;
    padding: 20px;
    margin-bottom: 15px;
    width: 100%;
}