body {
    background-image: url("/static/praying.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#bible {
    background-image: url("/static/cross.png");
}

#quran {
    background-image: url("/static/islam.jpg");
}

#hindu {
    background-image: url("/static/hindu.png");
}

#books {
    position: relative;
    bottom: 75px;
}