* {
    font-family: Papyrus;
    text-decoration: none;
}
#header1, #header2 {
    font-family: sans-serif;
    text-align: left;
    font-weight: bold;
}

#header2 {
    padding-left: 70px
}

.col {
    text-align: left;
}