* {
    font-family: Papyrus;
}

#header1, #header2 {
    text-align: left;
    font-weight: bold;
}

#header1 {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

#header2 {
    font-family: Allan;
    padding-top: 0px;
    padding-left: 70px;
}

.links1 {
    font-size: 12px;
}