* {
    font-family: Papyrus;
}

body {
    background-image: url("background.jpeg");
    background-size: cover;
    animation: fadeIn 5s;
}

#header, .nav-link2 {
    text-align: left;
    font-weight: bold;
}

.navbar-nav {
    background-color: darkseagreen;
    width: 100%;
}

#logo {
    max-width: 300px;
    max-height: 350px;
}

#header {
    font-family: Allan;
    font-style: italic;
    padding-top: 0px;
    padding-left: 190px;
    padding-bottom: 40px;
    margin: 0px;
}

#sss, #save, #seventy-five, #percent, #on_clearance, #shop_early,
#good_through, .fire, #in_addition, #more_savings, #we_have, #save10 {
    font-family: sans-serif;
    position: absolute;
}

#sss {
    left: 500px;
    font-size: 30px;
    color: darkgreen;
    transform: rotate(-15deg);
    border-style: dashed;
    border-color: grey;
}

#save {
    left: 900px;
    font-size: 30px;
    color: red;
}

#seventy-five, #percent {
    animation: blink 1s steps(1, end) infinite;
    left: 900px;
    top: 185px;
    font-size: 60px;
    color: gold;
}

#percent {
    left: 970px;
}

#on_clearance {
    left: 500px;
    top: 300px;
    font-size: 10px;
    font-weight: bold;
}

#shop_early {
    left: 550px;
    top: 330px;
    font-size: 10px;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
}

#good_through {
    left: 500px;
    top: 360px;
    font-size: 10px;
    font-weight: bold;
}

.fire {
    left: 500px;
    top: 380px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: navajowhite;
    text-shadow:
    0px -1px 3px #fff, /* Innermost layer - intense heat (white) */
    0px -2px 6px #FF3, /* Second layer - core of flame (yellow) */
    0px -6px 12px #F90, /* Middle layer - body of flame (orange) */
    0px -10px 20px #C33; /* Outermost layer - edges of flame (red) */
    animation: flicker 2s infinite;
}

#in_addition {
    left: 500px;
    top: 450px;
    font-size: 20;
    font-weight: bold;
}

#more_savings {
    left: 572px;
    top: 492px;
    font-size: 20;
    font-weight: bold;
}

.side_links {
    font-size: 12px;
    padding-bottom: 40px;
    margin: 0;
    color: indigo;
}

.nav-link2 {
    font-size: 18px;
}

.list-group {
    padding-top: 50px;
    font-size: 12px;
    width: 160px;
}

#we_have {
    left: 400px;
    top: 550px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

#carousel {
    height: 150px;
    width: 200px;
    left: 400px;
    top: -220px;
}

#paragraph {
    text-align: center;
}

#save10 {
    left: 650px;
    top: 600px;
    text-align: center;
}

#footer {
    position: fixed;
    bottom: 0;
    background-color: darkseagreen;
    width: 100%;
    margin: 0;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% (opacity: 1;)
}

@keyframes flip {
    0%,80% {
      transform: rotateX(360deg)
    }
  }

@keyframes flicker {
/* Initial state of animation */
0%,
/* Final state of animation */
100% {
    text-shadow:
        0 -1px 3px #fff,
        0 -2px 6px #FF3,
        0 -6px 12px #F90,
        0 -10px 20px #C33;
}
/* Middle state of animation */
50% {
    text-shadow:
        0 -2px 6px #fff,
        0 -4px 12px #FF3,
        0 -8px 16px #F90,
        0 -12px 24px #C33;
}
}