* {
    font-family: Papyrus;
}

#header1, #header2, h5 {
    text-align: left;
    font-weight: bold;
}

#header1 {
    font-size: 42px;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

#header2 {
    font-family: Allan;
    font-style: italic;
    padding-top: 0px;
    padding-left: 130px;
    padding-bottom: 40px;
    margin: 0px;
}

.links1 {
    font-size: 12px;
}