* {
    font-family: Papyrus;
}

#header1, #header2, .nav-link2 {
    text-align: left;
    font-weight: bold;
}

#header1 {
    font-family: sans-serif;
    font-size: 42px;
    margin: 0px;
    padding: 0px;
}

#header2 {
    font-family: Allan;
    font-style: italic;
    padding-top: 0px;
    padding-left: 130px;
    padding-bottom: 40px;
    margin: 0px;
}

#sss {
    font-family: sans-serif;
    position: absolute;
    left: 500px;
    font-size: 30px;
    color: greenyellow;
    transform: rotate(-15deg);
}

#save {
    font-family: sans-serif;
    position: absolute;
    left: 900px;
    font-size: 30px;
    color: crimson;
}

#seventy-five, #percent {
    animation: blink 1s steps(1, end) infinite;
    font-family: sans-serif;
    position: absolute;
    left: 900px;
    font-size: 60px;
    color: gold;
}

#percent {
    left: 970px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.side_links {
    font-size: 12px;
    padding-bottom: 40px;
    margin: 0px;
    color: indigo;
}

.nav-link2 {
    font-size: 18px;
}

.list-group {
    padding-top: 50px;
    font-size: 12px;
    width: 160px;
}

